<!-- @micropostが空の場合は自動的にcreateアクションを呼び出してフォームで指定した値をcreateアクションに送る。
今回であれば、params[:content], params[:image] -->
<%= form_with(model: @micropost) do |f| %>
  <%= render 'shared/error_message', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
<% end %>